{{ define "main" }}
<!-- BANNER GALERIA -->
<div class="grid grid-cols-1 lg:grid-cols-12">
    <div class="lg:col-span-6 relative observer">
        <img src="{{ .Params.image }}" class="object-center object-cover" alt="{{ .Title }}">
        <p class="tk-moby-monospaced bg-pink text-white uppercase text-xs p-1 absolute bottom-0 lg:bottom-auto lg:-right-16 lg:top-4 lg:block z-40">
            Memorias
        </p>
        <!-- <p class="tk-moby-monospaced bg-pink text-white uppercase text-xs p-1 absolute -bottom-3 lg:hidden z-30">
            Memorias</p>
        <p class="tk-moby-monospaced bg-pink text-white uppercase text-xs py-1 px-4 absolute lg:-right-20 lg:top-36 xl:top-48 2xl:top-60 hidden lg:block z-30">Memorias</p> -->
    </div>
    <div class="lg:col-span-6 self-stretch relative" style="background-color: #D8D8D8;">
        <div class="flex flex-col items-center justify-center h-full">
            <div class="p-8 md:p-16 xl:px-20">
                <h1 class="tk-moby text-3xl md:text-4xl lg:text-5xl xl:text-6xl mb-2 lg:mb-3 xl:mb-4">
                    {{ .Title }}
                </h1>
                <p class="lg:text-lg xl:text-xl mb-4 lg:mb-6 xl:mb-8 lg:w-10/12">
                    <span class="font-bold">{{ .Params.date_label }}</span>
                </p>
            </div>
        </div>
    </div>
</div>
<!-- BANNER GALERIA END -->
<section class="py-12 lg:py-16 xl:py-20">
    <div class="mx-auto w-11/12 mb-8 lg:mb-12 xl:mb-16">
        <div class="relative w-11/12 lg:w-8/12 xl:w-7/12 2xl:w-6/12 mx-auto">
            <p>{{ .Description }}</p>
            <img class="absolute -top-2 -left-36 hidden lg:block" src="/images/sticky-blue.svg" alt="sticky">
        </div>
    </div>
    <div class="mx-auto w-10/12">
        <div class="flex -m-4 justify-center flex-wrap">
            {{ range .Params.images }}
                <div class="w-full sm:w-72 p-4">
                    <img class="w-full h-full object-cover object-center" src="{{ . | absURL }}" alt="">
                </div>
            {{ end }}
        </div>
    </div>
    <div class="text-right w-8/12 mx-auto mt-12">
        <a class="tk-moby font-bold text-sm py-3 px-4 bg-black text-white" href='{{ relref . "_index.md" }}'>Volver a galería</a>
    </div>
</section>
{{ end }}