{{ define "main" }}
<!-- BANNER MEMORIAS -->
<div class="grid grid-cols-1 lg:grid-cols-12 items-center relative observer">
    <picture class="lg:col-start-1 lg:col-end-8 relative">
        <source srcset="/images/memorias/banner-memorias@2x.png" media="(min-width: 1280px)">
        <img class="object-cover object-center w-full" srcset="/images/memorias/banner-memorias.png"
            alt="Imagen sostenibilidad">
        <p class="tk-moby-monospaced bg-pink text-white uppercase text-xs p-1 absolute -bottom-3 lg:hidden z-40">
            Nuevas Memorias</p>
        <p
            class="tk-moby-monospaced bg-pink text-white uppercase text-xs p-1 absolute lg:-right-36 lg:top-8 xl:top-16 2xl:top-40 hidden lg:block z-40">
            Nuevas Memorias</p>
    </picture>
    <div class="lg:col-start-8 lg:col-end-13 self-stretch relative" style="background-color: #D8D8D8;">
        <div class="grid place-items-center h-full">
            <div class="p-8 md:p-16 xl:px-20">
                <h1 class="tk-moby uppercase text-2xl md:text-3xl lg:text-4xl xl:text-5xl mb-2 lg:mb-3 xl:mb-4">
                    Charla <br> ntf's
                </h1>
                <p class="lg:text-lg xl:text-xl mb-4 lg:mb-6 xl:mb-8 lg:w-10/12">
                    Cami Bohórquez, durante dos sesiones nos sumergió en el mundo del blockchain,  cryptotwitter y el arte digital. Gabriel Zea nos contó sobre su experiencia como artista en el ecosistema artístico de Bogotá  y su propuesta <a href="https://ruter.app/" class="underline" target="_blank">Ruter</a>
                </p>
                <a class="tk-moby font-bold text-sm py-3 px-8 bg-black text-lemon" href="#">Ver más</a>
            </div>
        </div>
        <img class="absolute -bottom-5 hidden lg:block" src="/images/memorias/stair-rounded.svg" alt="stair"
            style="left: -73px;">
    </div>
</div>
<!-- BANNER MEMORIAS END -->

<!-- GALERÍA DE MEMORIAS -->
<section class="py-16 lg:py-32 xl:py-40">
    <div
        class="flex flex-col lg:flex-row items-center text-center lg:text-left mx-auto w-10/12 mb-12 lg:mb-20 xl:mb-28">
        <div class="relative lg:w-6/12">
            <h2 class="tk-moby uppercase text-2xl md:text-3xl lg:text-4xl xl:text-5xl mb-2 lg:mb-3 xl:mb-4">
                <span class="" style="background-color: #D8D8D8;">Galería</span> de <br> memorias
            </h2>
            <img class="absolute -right-24 bottom-4 lg:right-16 xl:bottom-5 2xl:right-44" src="/images/memorias/lemon-sticky.svg"
                alt="sticky">
        </div>
        <div class=" lg:w-6/12">
            <p class="lg:text-lg xl:text-xl">
                Estos son los momentos destacados de las estrategias pedagógicas implementadas en el proyecto Mapas.
            </p>
        </div>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-x-7 gap-y-20 mx-auto w-10/12 mb-16 lg:mb-32 xl:mb-40">
        {{ range .Site.Data.memorias }}
            <div class="relative">
                <div class="aspect-w-16 aspect-h-9">
                    <img class="object-cover object-center w-full h-full" src="{{ .image }}" alt="{{ .title }}">
                </div>
                <div class="px-4 pt-5 pb-16" style="background-color: #D8D8D87C;">
                    <h3 class="text-xl md:text-2xl lg:text-3xl xl:text-4xl font-bold mb-3 lg:mb-5">
                        {{ .title }}
                    </h3>
                    <p class="lg:text-lg xl:text-xl">
                        {{ .description }}
                    </p>
                </div>
                <ul class="absolute -top-3 left-0">
                    <li class="tk-moby-monospaced bg-pink text-white uppercase text-xs p-1">Sostenibilidad</li>
                </ul>
                <!-- <a class="tk-moby font-bold text-sm py-3 px-8 bg-black text-lemon absolute bottom-0 left-0" href="#">Ver más</a> -->
            </div>
        {{ end }}
    </div>
    <div class="text-center relative">
        <a class="tk-moby uppercase" href="https://www.idartes.gov.co/es/agenda" target="_blank">Ver más eventos</a>
        <img class="absolute h-4 lg:h-6 xl:h-7 2xl:h-8 top-8 left-8 md:top-0 lg:-top-3 xl:-top-4 lg:left-4 xl:left-24 2xl:left-32" src="/images/memorias/line-shape-left.svg" alt="line shape">
        <img class="absolute h-4 lg:h-6 xl:h-7 2xl:h-8 top-8 right-8 md:top-0 lg:-top-3 xl:-top-4 lg:right-4 xl:right-24 2xl:right-32" src="/images/memorias/line-shape-right.svg" alt="line shape">
    </div>
</section>
{{ end }}