{{ define "main" }}
<div class="grid grid-cols-1 lg:grid-cols-12 items-center">
    <picture class="lg:col-start-1 lg:col-end-6 observer">
        <source srcset="/images/metodologia/que-es-mapas/foto_mapas_mapas@2x.png" media="(min-width: 1280px)">
        <img class="w-full" srcset="/images/metodologia/que-es-mapas/foto_mapas_mapas.png" alt="Imagen que es mapas">
    </picture>
    <div class="lg:col-start-6 lg:col-end-13 self-stretch relative">
        <div class="grid place-items-center h-full">
            <div class="p-8 md:p-16 xl:px-20">
                <h1 class="tk-moby uppercase text-2xl md:text-3xl lg:text-4xl xl:text-5xl mb-2 lg:mb-3 xl:mb-4">
                    ¿Qué es <br> mapas?
                </h1>
                <p class="lg:text-lg xl:text-xl mb-4 lg:mb-6 xl:mb-8 lg:w-10/12">
                    La metodología utilizada en el proyecto para el fortalecimiento de los procesos estratégicos y pedagógicos de emprendimientos e industrias culturales y creativas, consistió en una serie de actividades para determinar el levantamiento de datos y de información útil dentro del proyecto: un espacio de socialización, talleres de Design Thinking, entrevistas a profundidad y semiestructuradas, estrategias de mapeo, estructuración de información y por último la implementación web.
                </p>
            </div>
        </div>
    </div>
    <div class="lg:col-start-1 lg:col-end-8 self-stretch" style="background-color: #D8D8D8;">
        <div class="grid place-items-center h-full relative">
            <div class="p-8 md:px-16 xl:px-20">
                <h2
                    class="tk-moby text-2xl md:text-3xl lg:text-4xl xl:text-5xl mb-2 lg:mb-3 xl:mb-4 text-white bg-blue py-2 px-4 inline-block">
                    Innovación
                </h2>
                <p class="lg:text-lg xl:text-xl mb-4 lg:mb-6 xl:mb-8 lg:w-10/12">
                    La innovación es un ejercicio colectivo de pensamiento y ejecución de cambios prácticos y sostenibles para la transformación o mejoramiento. También, se entiende como la exploración permanente para descubrir cambios, desencajar estructuras que permitan revolucionar, transformar y mejorar.
                </p>
            </div>
        </div>
    </div>
    <picture class="lg:col-start-8 lg:col-end-13">
        <source srcset="/images/metodologia/que-es-mapas/foto_inno@2x.png" media="(min-width: 1280px)">
        <img class="w-full" srcset="/images/metodologia/que-es-mapas/foto_inno.png" alt="Imagen innovación"
            style="height: 570px;">
    </picture>
    <picture class="lg:col-start-1 lg:col-end-6">
        <source srcset="/images/metodologia/que-es-mapas/foto_soste_mapas@2x.png" media="(min-width: 1280px)">
        <img class="w-full" srcset="/images/metodologia/que-es-mapas/foto_soste_mapas.png" alt="Imagen sostenibilidad">
    </picture>
    <div class="lg:col-start-6 lg:col-end-13 self-stretch relative">
        <div class="grid place-items-center h-full">
            <div class="p-8 md:p-16 xl:px-20">
                <h2
                    class="tk-moby lg:-ml-28 xl:-ml-32 text-2xl md:text-3xl lg:text-4xl xl:text-5xl mb-2 lg:mb-3 xl:mb-4 text-white bg-pink py-2 px-4 inline-block">
                    Sostenibilidad
                </h2>
                <p class="lg:text-lg xl:text-xl mb-4 lg:mb-6 xl:mb-8 lg:w-10/12">
                    Es la conjunción de esfuerzos tendientes al equilibrio social, económico y ambiental de una iniciativa o proyecto. A su vez, es la capacidad de tener autonomía y criterio para tomar decisiones asertivas.
                </p>
            </div>
        </div>
    </div>
    <div class="lg:col-start-1 lg:col-end-13 grid grid-cols-1 lg:grid-cols-12 items-center relative">
        <div class="lg:col-start-1 lg:col-end-8 self-stretch" style="background-color: #D8D8D8;">
            <div class="grid place-items-center h-full">
                <div class="p-8 md:px-16 xl:px-20">
                    <h2
                        class="tk-moby text-2xl md:text-3xl lg:text-4xl xl:text-5xl mb-2 lg:mb-3 xl:mb-4 text-white bg-lemon py-4 px-8 inline-block">
                        Rutas <br> Colaborativas
                    </h2>
                    <p class="lg:text-lg xl:text-xl mb-4 lg:mb-6 xl:mb-8 lg:w-10/12">
                        Consisten en uno o varios trueques de saberes, aprendizajes y recursos, donde el bien común es el objetivo transversal. En otras palabras, es el tejido entre agentes que permiten la generación de intercambios de valor que posibilita la sostenibilidad (política, económica, social, cultural) tanto de los agentes individuales como de la red.
                    </p>
                </div>
            </div>
        </div>
        <picture class="lg:col-start-8 lg:col-end-13">
            <source srcset="/images/metodologia/que-es-mapas/foto_rutas_mapasps@2x.png" media="(min-width: 1280px)">
            <img class="w-full" srcset="/images/metodologia/que-es-mapas/foto_rutas_mapasps.png" alt="Imagen innovación"
                style="height: 570px;">
        </picture>
        <img class="absolute -top-20 lg:-top-24 xl:-top-28 right-0 h-40 lg:h-48 xl:h-56"
            src="/images/metodologia/que-es-mapas/green-stair.svg" alt="purple stair">
    </div>
</div>
<div
    class="bg-banner-estrategias-sm lg:bg-banner-estrategias-lg bg-center bg-cover pt-12 pb-28 lg:pt-16 lg:pb-32 xl:pt-20 xl:pb-36">
    <div class="grid grid-cols-1 lg:grid-cols-2 mx-auto w-10/12 gap-x-10 gap-y-4 relative">
        <div>
            <h2 class="tk-moby text-2xl md:text-3xl lg:text-4xl xl:text-5xl mb-2 lg:mb-3 xl:mb-4">
                Estrategia <span class="block uppercase text-3xl md:text-4xl lg:text-5xl xl:text-6xl">Mapas</span>
            </h2>
            <p class="lg:text-lg xl:text-xl">
                “Mapas es la respuesta a la búsqueda sectorial de mejores espacios para el intercambio y gestión del conocimiento entre diversos agentes del ecosistema artístico y cultural. Con esta estrategia esperamos abrir nuevos diálogos, rutas de trabajo, agendas posibles y estrategias pedagógicas entre distintas prácticas de sostenibilidad e innovación”, afirma Johanna Nieto, líder de la Línea de Sostenibilidad del Ecosistema Artístico del Idartes.
            </p>
        </div>
        <!-- <div class="self-end">
            <p class="lg:text-lg xl:text-xl">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummynibh euisod tincidunt ut
                laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation
                ullamcorper suscipit lobortis nisl ut aliqui ex ea commo. Lorem ipsum dolor sit amet, consectetuer
            </p>
        </div> -->
        <img class="absolute -bottom-24 xl:-bottom-32 right-0" src="/images/metodologia/que-es-mapas/round.svg" alt="round icon">
    </div>
</div>
<section class="pb-16 pt-32 lg:pb-20 lg:pt-46 xl:pb-24 xl:pt-40 relative" style="background-color: #D8D8D8;">
    <h2
        class="tk-moby text-2xl md:text-3xl lg:text-4xl xl:text-5xl mb-2 lg:mb-3 xl:mb-4 bg-white inline-block absolute -top-10 left-14 lg:left-28 py-3 pl-2 pr-8">
        Programas <span class="block">sostenibilidad</span>
    </h2>
    <div class="mx-auto w-8/12 lg:w-9/12 xl:w-8/12 relative">
        {{ partial "programas.html" . }}
    </div>
</section>
{{ end }}

{{ define "head" }}
    <link rel="stylesheet" href="https://unpkg.com/swiper@6.7.0/swiper-bundle.min.css" />
{{ end }}

{{ define "js" }}
    {{ $home := resources.Get "js/home.js" | js.Build (dict "minify" true) }}
    <script src="{{ $home.Permalink }}"></script>
{{ end }}