<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

{{ partial "google-meta-tags.html" . }}
{{ partial "twitter-meta-tags.html" . }}
{{ partial "og-meta-tags.html" . }}

{{ $css := resources.Get "css/tailwind.pcss" | toCSS | postCSS | minify }}

<link rel="stylesheet" href="https://use.typekit.net/ozz5lqb.css">
<link rel="stylesheet" href="{{ $css.Permalink }}">
<link rel="stylesheet" href="https://unpkg.com/swiper@6.7.0/swiper-bundle.min.css" />


{{ if .Title }}
<title>{{ .Title }} | {{ .Site.Title }}</title>
{{ else }}
    <title>{{ .Site.Title }}</title>
{{ end }}

{{/*  {{ define "head" }}

{{ end }}  */}}