<header class="header">
    <div class="flex justify-between items-center">
        <a href='{{ .Site.BaseURL }}'>
            <img class="header-logo" src="/images/logo_mapas.svg" alt="Logo mapas">
        </a>
        <nav>
            <!-- NAV DESKTOP -->
            <ul class="hidden lg:grid lg:grid-cols-4 lg:gap-x-6 xl:gap-x-8 text-center">
                {{ $currentPage := . }}
                {{ range .Site.Menus.main }}
                {{ $menu_item_url := .URL | relLangURL }}
                {{ $page_url:= $currentPage.RelPermalink | relLangURL }}
                {{ if eq $menu_item_url $page_url }}
                <li>
                    <a class="text-white uppercase border-b-2 pb-1 border-lemon text-sm xl:text-base"
                        href="{{ .URL }}">{{ .Title }}</a>
                </li>
                {{ else }}
                {{ if .HasChildren }}
                <li class="menu">
                    <p class="uppercase cursor-pointer">
                        {{ .Pre }}
                        <span>{{ .Name }}</span>
                    </p>
                    <ul class="submenu">
                        {{ range .Children }}
                        {{ $goto := or .Page.Params.external_url .URL }}
                        <li class="pb-1 border-b border-white">
                            <a class="text-xs" href="{{ $goto }}" {{ if .Page.Params.external_url }}target="_blank"{{ end }}>{{ .Name }}</a>
                        </li>
                        {{ end }}
                    </ul>
                </li>
                {{ else }}
                <li>
                    <a class="text-white uppercase text-sm xl:text-base pb-1 border-b-2 border-transparent hover:border-lemon duration-300"
                        href="{{ .URL }}">{{ .Title }}</a>
                </li>
                {{ end }}
                {{ end }}
                {{ end }}
            </ul>
            <!-- NAV MOBILE -->
            <ul class="nav lg:hidden">
                {{ $currentPage := . }}
                {{ range .Site.Menus.main }}
                {{ $menu_item_url := .URL | relLangURL }}
                {{ $page_url:= $currentPage.RelPermalink | relLangURL }}
                {{ if eq $menu_item_url $page_url }}
                <li class="mb-8">
                    <a class="text-white uppercase border-b-2 pb-1 border-lemon text-sm xl:text-base"
                        href="{{ .URL }}">{{ .Title }}</a>
                </li>
                {{ else }}
                <li class="mb-8">
                    <a class="text-white uppercase text-sm xl:text-base" href="{{ .URL }}">{{ .Title }}</a>
                </li>
                {{ end }}
                {{ end }}
            </ul>
        </nav>
        <div class="menu-button py-4">
            <span class="menu-icon" id="menu-icon"></span>
        </div>
    </div>
</header>