{{ define "main" }}
{{/* BANNER HOME END */}}
<div class="bg-banner-home-sm lg:bg-banner-home-lg bg-center bg-cover observer">
    <div class="mx-auto w-10/12 pt-28 pb-60 md:pb-64 md:pt-32 lg:pb-72 lg:pt-40">
        <div
            class="text-white text-lg md:text-xl lg:text-2xl xl:text-3xl border-b border-white pb-2 mb-3 w-10/12 lg:w-8/12 xl:w-7/12">
            <h1 class="tk-moby uppercase mb-1">RUTA cultural oct 21</h1>
            <p>Viernes 8 de octubre <span class="block md:text-lg lg:text-xl xl:text-2x">3:00 p.m. a 5:00 p.m.</span>
            </p>
        </div>
        <p class="font-bold italic text-white mb-4">Inscripción previa</p>
        <a class="tk-moby font-bold text-xs py-3 px-4" href="#" style="background-color: #D4E04E;">Inscribirme</a>
    </div>
</div>
{{/* BANNER HOME END */}}

{{/* ¿QUE ES MAPAS? */}}
<section class="pt-16 pb-32 lg:pt-20 lg:pb-46 xl:pt-24 xl:pb-40 relative">
    <div class="grid grid-cols-1 lg:grid-cols-12 items-center gap-y-16 mx-auto w-10/12 lg:w-full">
        <div class="lg:col-start-2 lg:col-end-8">
            <h2 class="tk-moby text-2xl md:text-3xl lg:text-4xl xl:text-5xl mb-2 lg:mb-3 xl:mb-4">
                ¿Qué es <span class="block uppercase">mapas?</span>
            </h2>
            <p class="lg:text-lg xl:text-xl mb-4 lg:mb-6 xl:mb-8">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut
                laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation
                ullamcorper suscipit lobortis nisl ut aliquip ex ea commo.
            </p>
            <a class="tk-moby font-bold text-sm py-3 px-4 bg-black text-lemon" href="#">Conoce más</a>
        </div>
        <div class="lg:col-start-9 lg:col-end-13">
            <p
                class="tk-moby-monospaced text-white bg-gradient-to-r from-blue to-blue-dark py-3 pl-4 rounded-l-xl mb-6">
                INNOVACIÓN</p>
            <p
                class="tk-moby-monospaced text-white  bg-gradient-to-r from-pink to-pink-dark py-3 pl-4 rounded-l-xl mb-6">
                SOSTENIBILIDAD</p>
            <p class="tk-moby-monospaced text-white  bg-gradient-to-r from-lemon to-lemon-dark py-3 pl-4 rounded-l-xl">
                RUTAS <br> COLABORATIVAS</p>
        </div>
    </div>
    <img class="absolute -top-32 left-2 md:left-4 lg:left-8 xl:left-16 z-10" src="/images/home/line-stair.svg"
        alt="stair line">
</section>
{{/* ¿QUE ES MAPAS? END */}}

{{/* PROGRAMAS SOSTENIBILIDAD */}}
<section class="pb-16 pt-32 lg:pb-20 lg:pt-46 xl:pb-24 xl:pt-40 relative" style="background-color: #D8D8D8;">
    <h2
        class="tk-moby text-2xl md:text-3xl lg:text-4xl xl:text-5xl mb-2 lg:mb-3 xl:mb-4 bg-white inline-block absolute -top-10 left-14 lg:left-28 py-3 pl-2 pr-8">
        Programas <span class="block">Sostenibilidad</span>
    </h2>
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-x-16 mx-auto w-8/12 lg:w-9/12 xl:w-8/12 relative">
        <div class="relative">
            <picture>
                <source srcset="/images/home/foto-slider@2x.png" media="(min-width: 1280px)">
                <img class="w-full" srcset="/images/home/foto-slider.png" alt="Imagen sostenibilidad">
            </picture>
            <div class="p-7 pb-14 bg-white">
                <h3 class="lg:text-lg xl:text-2xl font-bold mb-5">
                    Corredores Artísticos <br> para la Reactivación
                </h3>
                <p class="lg:text-lg xl:text-xl">
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut
                    laoreet dolore magna aliquam erat volutpat.
                </p>
                <a class="tk-moby font-bold italic text-sm py-3 px-10 bg-black text-lemon absolute -bottom-7"
                    href="#">Ver más</a>
            </div>
            <p class="tk-moby-monospaced bg-pink text-white uppercase text-xs p-1 absolute -right-4 top-4">
                SOSTENIBILIDAD</p>
            <img class="absolute bottom-4 right-3 h-8" src="/images/home/stair.png" alt="icono estrella">
        </div>
        <div class="relative hidden lg:block">
            <picture>
                <source srcset="/images/home/foto-slider@2x.png" media="(min-width: 1280px)">
                <img srcset="/images/home/foto-slider.png" alt="Imagen sostenibilidad">
            </picture>
            <div class="p-7 pb-14 bg-white">
                <h3 class="lg:text-lg xl:text-2xl font-bold mb-5">
                    Corredores Artísticos <br> para la Reactivación
                </h3>
                <p class="lg:text-lg xl:text-xl">
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut
                    laoreet dolore magna aliquam erat volutpat.
                </p>
                <a class="tk-moby font-bold italic text-sm py-3 px-10 bg-black text-lemon absolute -bottom-7"
                    href="#">Ver más</a>
            </div>
            <p class="tk-moby-monospaced bg-pink text-white uppercase text-xs p-1 absolute -right-4 top-4">
                SOSTENIBILIDAD</p>
            <img class="absolute bottom-4 right-3 h-8" src="/images/home/stair.png" alt="icono estrella">
        </div>
        <img class="absolute h-16 -left-40 top-1/2 cursor-pointer hidden lg:block" src="/images/left-arrow.png"
            alt="left arrow">
        <img class="absolute h-16 -right-40 top-1/2 cursor-pointer hidden lg:block" src="/images/right-arrow.png"
            alt="right arrow">
    </div>
</section>
{{/* PROGRAMAS SOSTENIBILIDAD END */}}

{{/* BUENAS PRACTICAS */}}
<section class="relative">
    <h2 class="tk-moby text-2xl md:text-3xl lg:text-4xl xl:text-5xl mb-2 lg:mb-3 xl:mb-4 inline-block absolute -top-5 left-14 lg:left-28 py-3 px-2"
        style="background-color: #D8D8D8;">
        Buenas <span class="block">Prácticas</span>
    </h2>
    <div
        class="grid grid-cols-1 lg:grid-cols-12 items-center gap-y-16 mx-auto pb-12 pt-24 lg:pt-40 lg:pb-24 xl:pt-52 w-10/12 lg:w-full relative">
        <div class="lg:col-start-2 lg:col-end-7">
            <h2 class="tk-moby text-xl md:text-2xl lg:text-3xl xl:text-4xl mb-2 lg:mb-3 xl:mb-4">
                Formación <br> Gestores <br> culturales
            </h2>
            <p class="lg:text-lg">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut
                laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation
                ullamcorper suscipit lobortis nisl ut aliquip ex ea commo.
            </p>
        </div>
        <img class="lg:col-start-8 lg:col-end-12 mx-auto" src="/images/home/icono-formacion.svg" alt="icono formacion">
        <img class="absolute top-20 lg:top-36 xl:top-52 -left-4 lg:left-16 xl:left-20 2xl:left-28 z-10"
            src="/images/home/good-practics-line-left.svg" alt="good practics">
        <img class="absolute -top-20 lg:-top-20 xl:-top-16 2xl:-top-20 -right-8 md:-right-10 lg:right-6 xl:right-16 2xl:right-32 z-10"
            src="/images/home/good-practics-line-right.svg" alt="good practics">
    </div>
    <div class="py-12 lg:pt-24 lg:pb-16 xl:pt-32 xl:pb-20" style="background-color: #D8D8D87C;">
        <div class="grid grid-cols-1 lg:grid-cols-12 items-center gap-y-16 mx-auto w-10/12 lg:w-full">
            <img class="lg:col-start-2 lg:col-end-6 mx-auto" src="/images/home/capacitaciones.svg"
                alt="icono formacion">
            <div class="lg:col-start-7 lg:col-end-12">
                <h2 class="tk-moby text-xl md:text-2xl lg:text-3xl xl:text-4xl mb-2 lg:mb-3 xl:mb-4">
                    Capacitaciones
                </h2>
                <p class="lg:text-lg lg:w-10/12">
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut
                    laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation
                    ullamcorper suscipit lobortis nisl ut aliquip ex ea commo.
                </p>
            </div>
        </div>
    </div>
    <div
        class="grid grid-cols-1 lg:grid-cols-12 items-center gap-y-16 mx-auto w-10/12 lg:w-full py-12 lg:pt-24 lg:pb-16 xl:pt-32 xl:pb-20 relative">
        <div class="lg:col-start-2 lg:col-end-7">
            <h2 class="tk-moby text-xl md:text-2xl lg:text-3xl xl:text-4xl mb-2 lg:mb-3 xl:mb-4">
                Emprendimientos
            </h2>
            <p class="lg:text-lg">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut
                laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation
                ullamcorper suscipit lobortis nisl ut aliquip ex ea commo.
            </p>
        </div>
        <img class="lg:col-start-8 lg:col-end-12 mx-auto" src="/images/home/emprendimientos.svg" alt="icono formacion">
        <img class="absolute -top-60 lg:-top-68 xl:-top-72 -right-8 md:-right-10 lg:right-6 xl:right-16 2xl:right-32 z-10"
            src="/images/home/good-practics-line-right.svg" alt="good practics">
    </div>
</section>
{{/* BUENAS PRACTICAS END */}}

{{/* AGENDA CULTURAL */}}
<section class="bg-agenda-cultural-sm lg:bg-agenda-cultural-lg bg-cover bg-center py-24 lg:py-44 xl:py-52 relative">
    <h2 class="tk-moby text-2xl md:text-3xl lg:text-4xl xl:text-5xl mb-2 lg:mb-3 xl:mb-4 inline-block absolute -top-10 left-14 lg:left-28 py-3 px-2"
        style="background-color: #D8D8D8;">
        Agenda <span class="block">Cultural</span>
    </h2>
    <div class="grid grid-cols-1 lg:grid-cols-3 gap-x-28 gap-y-16 mx-auto w-10/12 text-white pb-12 lg:pb-16 xl:pb-20">
        <h4 class="tk-moby font-bold text-lg md:text-xl lg:text-2xl xl:text-3xl text-center self-center">Octubre</h4>
        <ul class="lg:text-lg xl:text-xl">
            <li class="mb-4"><span class="font-bold">21</span> Festival de teatro</li>
            <li class="mb-4"><span class="font-bold">24</span> ARTBO</li>
            <li><span class="font-bold">31</span> Festival de tamboras</li>
        </ul>
        <ul class="lg:text-lg xl:text-xl">
            <li><span class="font-bold">31</span> Festival música andina</li>
        </ul>
    </div>
    <div
        class="grid grid-cols-1 lg:grid-cols-3 gap-x-28 gap-y-16 border-t-2 border-b-2 border-lemon mx-auto w-10/12 text-white py-12 lg:py-16 xl:py-20">
        <h4 class="tk-moby font-bold text-lg md:text-xl lg:text-2xl xl:text-3xl text-center self-center">Noviembre</h4>
        <ul class="lg:text-lg xl:text-xl">
            <li class="mb-4"><span class="font-bold">02</span> Encuentro arte urbano</li>
            <li class="mb-4"><span class="font-bold">15</span> ARTBO</li>
            <li><span class="font-bold">26</span> Festival de tamboras</li>
        </ul>
        <ul class="lg:text-lg xl:text-xl">
            <li class="mb-4"><span class="font-bold">29</span> Encuentro con autor</li>
            <li><span class="font-bold">30</span> Arte a la KY</li>
        </ul>
    </div>
    <div class="grid grid-cols-1 lg:grid-cols-3 gap-x-28 gap-y-16 mx-auto w-10/12 text-white pt-12 lg:pt-16 xl:pt-20">
        <h4 class="tk-moby font-bold text-lg md:text-xl lg:text-2xl xl:text-3xl text-center self-center">Diciembre</h4>
        <ul class="lg:text-lg xl:text-xl">
            <li class="mb-4"><span class="font-bold">01</span> Festival de teatro</li>
            <li class="mb-4"><span class="font-bold">10</span> ARTBO</li>
            <li class="mb-4"><span class="font-bold">13</span> Ballet Nacional</li>
            <li><span class="font-bold">22</span> Wikiton</li>
        </ul>
        <ul class="lg:text-lg xl:text-xl">
            <li class="mb-4"><span class="font-bold">23</span> Encuentro Artistas Urbanos</li>
            <li><span class="font-bold">23</span> Encuentro Danza Contemporánea</li>
        </ul>
    </div>
</section>
{{/* AGENDA CULTURAL END */}}

{{/* BASES DE DATOS */}}
<section class="py-24 lg:py-32 xl:py-40 relative">
    <div
        class="grid grid-cols-1 lg:grid-cols-12 items-center border-2 border-black py-10 px-6 mx-auto w-10/12 relative">
        <h3 class="tk-moby text-blue text-2xl md:text-3xl lg:text-4xl xl:text-5xl lg:col-start-1 lg:col-end-5">
            Bases <br> de datos
        </h3>
        <p class="lg:text-lg xl:text-xl lg:col-start-6 lg:col-end-11">
            <span class="uppercase text-blue font-bold">GEOCLICK</span>
            lor sit amet, consectetuer adipiscing elit, sed diam nonummy.
        </p>
        <a class="tk-moby font-bold italic text-xs sm:text-sm py-3 px-10 bg-black text-lemon absolute -bottom-6 left-1/2 transform -translate-x-1/2"
            href="#">Explorar datos</a>
        <img class="h-12 md:h-16 absolute -bottom-4 -left-6" src="/images/home/elipse.svg" alt="elipse">
        <img class="h-12 md:h-16 absolute -bottom-8 -right-32" src="/images/home/sticky-lemon.svg" alt="sticky">
    </div>
    <img class="absolute left-1/2 transform -translate-x-1/2 top-3 md:top-8 lg:top-12" src="/images/home/three-points.svg" alt="three points">
    <img class="absolute -top-20 lg:-top-24 xl:-top-28 left-0 h-40 lg:h-48 xl:h-56" src="/images/home/purple-stair.svg" alt="purple stair">
</section>
{{/* BASES DE DATOS END */}}
{{ end }}