{{ define "main" }}
<section class="flex flex-col lg:flex-row relative">
    <p class="tk-moby-monospaced bg-pink text-white uppercase text-xs p-1 absolute z-10 lg:top-4" style="left:47%;">
        Mapas I
    </p>
    <div class="h-52 lg:w-1/2 bg-cover bg-center lg:h-auto" style="background-image: url(/images/mapas-i.png); ">
    </div>

    <div class="lg:w-1/2   flex items-center justify-center ">
        <div class="w-2/3 space-y-4 py-16 lg:py-36">
            <h2 class="font-bold text-2xl md:text-3xl lg:text-4xl xl:text-5xl tk-moby-monospaced">¿Que es?</h2>
            <div class="space-y-2">
                <p class="text-lg">
                    Una ruta pedagógica de intercambio y apropiación del conocimiento a través de los sistemas de
                    información culturales y
                    artísticos del Instituto Distrital de las Artes. Esta ruta consistió en dos tipos de laboratorios -
                    uno,
                    en el
                    Planetario de Bogotá y el otro, en El Castillo de las Artes—, además de distintas intervenciones en
                    las
                    que se
                    difuminaban las fronteras entre el arte y la tecnología.
                </p>
                <p class="text-lg">
                    Conoce más en la sección de Gestión del conocimiento.
                </p>
            </div>
        </div>
    </div>

</section>
<!-- banner end -->


<div class="grid grid-cols-1 lg:grid-cols-12 items-center">
    <div class="lg:col-start-1 lg:col-end-8 self-stretch relative" style="background-color: #D8D8D8;">
        <div class="grid place-items-center h-full relative">
            <div class="p-8 md:px-16 xl:px-20">
                <h2
                    class="tk-moby text-2xl md:text-3xl lg:text-4xl xl:text-5xl mb-2 lg:mb-3 xl:mb-4 text-white bg-blue py-2 px-4 inline-block">
                    Innovación
                </h2>
                <p class="lg:text-lg xl:text-xl mb-4 lg:mb-6 xl:mb-8 lg:w-10/12">
                    La innovación es un ejercicio colectivo de pensamiento y ejecución de cambios prácticos y
                    sostenibles para la transformación o mejoramiento. También, se entiende como la exploración
                    permanente para descubrir cambios, desencajar estructuras que permitan revolucionar, transformar y
                    mejorar.
                </p>
            </div>
        </div>
        <img class="absolute hidden lg:block left-1/4" src="/images/bar-estrategia-mapas.svg"
            style="rotate: 45deg; top: -15%;" alt="stair">
    </div>
    <picture class="lg:col-start-8 lg:col-end-13">
        <img class="object-cover object-center" src="/images/foto-innovacion.png" alt="Innovación">
    </picture>
    <picture class="lg:col-start-1 lg:col-end-6">
        <img class="object-cover object-center" src="/images/foto-sostenibilidad.png" alt="Innovación">
    </picture>

    <div class="lg:col-start-6 lg:col-end-13 self-stretch relative">
        <div class="grid place-items-center h-full">
            <div class="p-8 md:p-16 xl:px-20">
                <h2
                    class="tk-moby lg:-ml-28 xl:-ml-32 text-2xl md:text-3xl lg:text-4xl xl:text-5xl mb-2 lg:mb-3 xl:mb-4 text-white bg-pink py-2 px-4 inline-block">
                    Sostenibilidad
                </h2>
                <p class="lg:text-lg xl:text-xl mb-4 lg:mb-6 xl:mb-8 lg:w-10/12">
                    Es la conjunción de esfuerzos tendientes al equilibrio social, económico y ambiental de una
                    iniciativa o proyecto. A su vez, es la capacidad de tener autonomía y criterio para tomar decisiones
                    asertivas.
                </p>
            </div>
        </div>
    </div>
    <div class="lg:col-start-1 lg:col-end-13 grid grid-cols-1 lg:grid-cols-12 items-center relative">
        <div class="lg:col-start-1 lg:col-end-8 self-stretch" style="background-color: #D8D8D8;">
            <div class="grid place-items-center h-full">
                <div class="p-8 md:px-16 xl:px-20">
                    <h2
                        class="tk-moby text-2xl md:text-3xl lg:text-4xl xl:text-5xl mb-2 lg:mb-3 xl:mb-4 text-white bg-lemon py-4 px-8 inline-block">
                        Rutas <br> Colaborativas
                    </h2>
                    <p class="lg:text-lg xl:text-xl mb-4 lg:mb-6 xl:mb-8 lg:w-10/12">
                        Consisten en uno o varios trueques de saberes, aprendizajes y recursos, donde el bien común es
                        el objetivo transversal. En otras palabras, es el tejido entre agentes que permiten la
                        generación de intercambios de valor que posibilita la sostenibilidad (política, económica,
                        social, cultural) tanto de los agentes individuales como de la red.
                    </p>
                </div>
            </div>
        </div>
        <picture class="lg:col-start-8 lg:col-end-13">
            <img class="object-cover object-center" src="/images/foto-rutas-colaborativas.png" alt="Innovación">
        </picture>
        <img class="absolute -top-20 lg:-top-24 xl:-top-28 right-0 h-40 lg:h-48 xl:h-56"
            src="/images/metodologia/que-es-mapas/green-stair.svg" alt="purple stair">
    </div>
</div>
<div class="bg-center bg-cover pt-12 pb-28 lg:pt-16 lg:pb-32 xl:pt-20 xl:pb-36"
    style="background-image: url(/images/banner-estrategias.png);">
    <div class="grid grid-cols-1 lg:grid-cols-2 mx-auto w-10/12 gap-x-10 gap-y-4 relative">
        <div>
            <h2 class="tk-moby text-2xl md:text-3xl lg:text-4xl xl:text-5xl mb-2 lg:mb-3 xl:mb-4">
                Estrategia <span class="block uppercase text-3xl md:text-4xl lg:text-5xl xl:text-6xl">Mapas</span>
            </h2>
            <p class="lg:text-lg xl:text-xl">
                Es un medio para construir redes entre artistas, organizaciones, colectivos y público en general. Para
                ello buscamos
                abrir nuevos diálogos, rutas de trabajo, agendas posibles y estrategias pedagógicas entre distintas
                prácticas de
                sostenibilidad e innovación que se viven en los territorios, así como las distintas formas de crear,
                circular y
                fortalecer las prácticas del sector.
            </p>
        </div>
        <!-- <div class="self-end">
            <p class="lg:text-lg xl:text-xl">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummynibh euisod tincidunt ut
                laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation
                ullamcorper suscipit lobortis nisl ut aliqui ex ea commo. Lorem ipsum dolor sit amet, consectetuer
            </p>
        </div> -->
        <img class="absolute -bottom-24 xl:-bottom-32 right-0" src="/images/metodologia/que-es-mapas/round.svg"
            alt="round icon">
    </div>
</div>
<section class="pb-16 pt-32 lg:pb-20 lg:pt-46 xl:pb-24 xl:pt-40 relative" style="background-color: #D8D8D8;">
    <h2
        class="tk-moby text-2xl md:text-3xl lg:text-4xl xl:text-5xl mb-2 lg:mb-3 xl:mb-4 bg-white inline-block absolute -top-10 left-14 lg:left-28 py-3 pl-2 pr-8">
        Programas <span class="block">sostenibilidad</span>
    </h2>
    <div class="mx-auto w-8/12 lg:w-9/12 xl:w-8/12 relative">
        {{ partial "programas.html" . }}
    </div>
</section>
{{ end }}

{{ define "js" }}
{{ $home := resources.Get "js/home.js" | js.Build (dict "minify" true) }}
<script src="{{ $home.Permalink }}"></script>
{{ end }}
